<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="'编辑商品-' + ${title}"></title>

    <link rel="stylesheet" href="https://cdn.staticfile.org/webuploader/0.1.1/webuploader.css">

    <style>
        .my-view{
            padding: 20px;
        }

        .layui-layout-admin .layui-body {
            bottom: 0px !important;
            overflow-y:scroll;
        }


        .upload-process{
            background-color: #FBFBFB;
            min-height: 50px;
            padding-top: 10px;
            font-size: 15px;
            color: #888;
            padding-left: 15px;
            text-align: center;
        }

        .item-container{
            background-color: #FBFBFB;
            border: 1px dashed #e6e6e6;
            padding: 5px;
        }


        .notline{
            border-width: 0px !important;
            margin-left: 5px;
            margin-top: 5px;
        }

    </style>
</head>
<body>

<th:block layout:fragment="current_page">
    <a><cite>编辑商品</cite></a>
</th:block>

<th:block layout:fragment="body">

    <div class="layui-form layui-form-pane my-view layui-row layui-col-md5" xmlns:th="http://www.thymeleaf.org">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>编辑视频</legend>
        </fieldset>

        <input type="hidden" id="productId" th:value="${model.getProductId()}">

        <form class="layui-form" action="" lay-filter="example">
            <div class="layui-form-item">
                <label class="layui-form-label">所属类目</label>
                <div class="layui-input-block" style="z-index: 10006;" >
                    <select name="categoryId" style="z-index: 10005;">
                        <option th:if="${!model.getCategoryId().equals(item.getCategoryId())}" th:each="item:${categorys}" th:value="${item.getCategoryId()}" th:text="${item.getText()}"></option>
                        <option selected th:if="${model.getCategoryId().equals(item.getCategoryId())}" th:each="item:${categorys}" th:value="${item.getCategoryId()}" th:text="${item.getText()}"></option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-block">
                    <input type="text" name="productName" lay-verify="title" autocomplete="off" placeholder="请输入商品标题" class="layui-input" th:value="${model.getProductName()}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">价格</label>
                <div class="layui-input-block">
                    <input type="number" name="amount" placeholder="请输入商品价格" autocomplete="off" class="layui-input" th:value="${model.getAmount()}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label notline">上传视频</label>

                <div class="item-container">
                    <div class="layui-input-block">
                        <input type="radio" name="videoType"  lay-filter="videoType" value="0" title="在线播放视频" checked="">
                        <input type="radio" name="videoType" lay-filter="videoType" value="1" title="本地上传视频">
                    </div>
                    <div class="layui-input-block" id="input-video-url" style="display: block;">
                        <input type="text" name="videoUrl" lay-verify="title" autocomplete="off" placeholder="请输入视频链接" class="layui-input" th:value="${model.getVideoUrl()}">
                    </div>
                    <div class="layui-upload" id="upload-video-url"  style="display: none;">
                        <div id="uploader" class="wu-example">
                            <!--用来存放文件信息-->
                            <div id="thelist" class="uploader-list"></div>
                            <div class="btns">
                                <div id="picker">上传视频文件(.mp4)</div>
                            </div>
                        </div>
                        <input type="hidden" id="videoUrl" th:value="${model.getVideoUrl()}">
                        <input type="hidden" id="image" th:value="${model.getImage()}">
                    </div>
                </div>
            </div>

            <div class="layui-form-item" style="display: none;" id="upload-process">
                <label class="layui-form-label notline">上传进度</label>
                <div class="layui-upload upload-process">

                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">播放量</label>
                <div class="layui-input-block">
                    <input type="number" name="showCount" placeholder="请输入播放量" autocomplete="off" class="layui-input" th:value="${model.getShowCount()}">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">是否置顶</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="top" lay-skin="primary" title="置顶">
                    <input type="checkbox" name="top" lay-skin="primary" title="置顶" checked="">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block" style=" margin-left: 0px !important;">
                    <button class="layui-btn" id="submitBtn" lay-submit="" lay-filter="my-form">立即提交</button>
                </div>
            </div>
        </form>
    </div>

</th:block>
<th:block layout:fragment="free_footer">
    <script type="text/javascript" src="http://cdn.staticfile.org/webuploader/0.1.0/webuploader.min.js"></script>
    <script type="text/javascript" th:src="@{/js/common/jsencrypt.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/base64.js}"></script>
    <script type="text/javascript" th:src="@{/js/finance/recharge.js}"></script>
    <script type="text/javascript" th:src="@{/js/configuration/wangEditor.js}"></script>

    <script>
        layui.use(['form','upload'], function(){
            var form = layui.form,
                layer = layui.layer;

            var $ = layui.jquery
                ,upload = layui.upload;

//切换视频选择方式
            form.on('radio(videoType)', function (data) {
                if(data.value == "0"){
                    $("#input-video-url").show();
                    $("#upload-video-url").hide();
                }else{
                    $("#input-video-url").hide();
                    $("#upload-video-url").show();

                    //web uploader初始化
                    var uploader = WebUploader.create({

                        // swf文件路径
                        swf: "/images//Uploader.swf",

                        // 文件接收服务端。
                        server: '/api/file/videoUpload',

                        // 选择文件的按钮。可选。
                        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                        pick: '#picker',

                        // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
                        resize: false,

                        auto : true,

                        fileNumLimit: 1
                    });

                    // 当有文件被添加进队列的时候
                    var $list = $(".upload-process");

                    uploader.on('fileQueued', function( file ) {
                        $list.append( '<div id="' + file.id + '" class="item">' +
                            '<h4 class="info">' + file.name + '</h4>' +
                            '<p class="state">等待上传...</p>' +
                            '</div>' );

                        $("#upload-process").show();

                        uploader.upload();

                        $("#submitBtn").addClass("layui-btn-disabled");
                    });

                    // 文件上传过程中创建进度条实时显示。
                    uploader.on( 'uploadProgress', function( file, percentage ) {
                        var $li = $( '#'+file.id ),
                            $percent = $li.find('.progress .progress-bar');

                        // 避免重复创建
                        if ( !$percent.length ) {
                            $percent = $('<div class="progress progress-striped active" >' +
                                '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                                '</div>' +
                                '</div>').appendTo( $li ).find('.progress-bar');
                        }

                        $li.find('p.state').text("上传中, 请不要关闭页面" );

                        $percent.css( 'width', percentage * 100 + '%' );
                    });

                    uploader.on( 'uploadSuccess', function( file, serverData) {
                        $( '#'+file.id ).find('p.state').text('已上传');

                        $("input[name='videoUrl']").val(serverData.msg);
                        $("#image").val(serverData.msg.replace(".m3u8", ".jpg"));

                        $("#submitBtn").removeClass("layui-btn-disabled");
                    });

                    uploader.on( 'uploadError', function( file ) {
                        $( '#'+file.id ).find('p.state').text('上传出错');
                        $("#submitBtn").removeClass("layui-btn-disabled");
                    });

                    uploader.on( 'uploadComplete', function( file ) {
                        $( '#'+file.id ).find('.progress').fadeOut();
                    });
                }
            });



            // 表单提交验证
            form.on('submit(my-form)',function(data){
                $.post("./rePublish",{
                    productId: $("#productId").val(),
                    productName: $("input[name='productName']").val(),
                    amount: $("input[name='amount']").val(),
                    image: $("#image").val(),
                    categoryId: $("select[name='categoryId']").val(),
                    videoUrl :  $("input[name='videoUrl']").val(),
                    showCount :  $("input[name='showCount']").val(),
                    top:$("input[name='top']").val()
                }, function(data){
                    if(data.code == 200){
                        layer.msg("编辑发布成功");
                        location.reload();
                    }else{
                        layer.msg("编辑发布失败");
                    }
                })

                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });


            form.render();
        });

    </script>

</th:block>
</body>
</html>